# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Java

# Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. NumPy
3. Pandas
4. TensorFlow
5. Scikit-learn

# Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|----|
|Apache Spark|
|TensorFlow|
|Tableau|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [29]:
#This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [43]:
#This will convert 200 minutes to hours by diving by 60.

minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

**Objectives:**

#unordered List <br>
#List popular languages for Data Science.

* Python
* R
* SQL
* Java
* Scala

## Author
 Valmik Doshi